<%= render "shared/navbar" %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550399105-c4db5fb85c18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);">
  <div class="container">
    <h1>Description <strong>Ici</strong> a <strong>choisir</strong>!</h1>
    <p>Nous pouvons encore decrire pleins de choses ici si necessaire et ajouter un call to action en dessous</p>
    <a class="btn btn-gradient" href="#">Call to action</a>
  </div>
</div>
