.navbar-lewagon {
  justify-content: space-between;
  color:black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size:1.5em;
}

.navbar-light .navbar-nav .nav-link {
    // color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
}
// .navbar-expand-sm .navbar-nav .dropdown-menu {
//   background-color: transparent;
// }

// a.nav-link{
//   color:white !important;
// }
